__pycache__/
flask/__pycache__/
models/__pycache__/
models/engine/__pycache__/
static_files/__pycache__/
models/rating.py
models/skill.py
../.gitignore
static_files/
config.py
.env
dynamic/__pycache__/
models/association_tables.py
dynamic/v1/uploads/*
!dynamic/v1/uploads/.gitignore
footDB.db
