* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: black;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	height: 100vh;
	width: 80%;
	margin-left: auto;
	margin-right: auto;

	display: grid;
	grid-template-areas:
		'header header header'
		'nav content sidebar'
		'footer footer footer';

	grid-template-columns: 1fr 800px 1fr;
	grid-template-rows: 80px 1fr 70px;
}

header,
footer,
main,
aside,
nav {
	background-color: black;
	color: #fff;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.8);
}

header {
	grid-area: header;
}

nav {
	padding-top: 30px;
	grid-area: nav;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

footer {
	grid-area: footer;
}

main {
	grid-area: content;
}

.nav-container .home{
	color: #fff;
	padding: 20px;
	border: 1px solid red;
}

.nav-container .home,
.nav-container .lists,
.nav-container .reports,
.account,
.nav-container .notifications{
	color: #fff;
	padding: 20px;
	border: 1px solid red;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.account,
.nav-container i { font-size: 1.4rem; }
.nav-container strong { font-size: 1.3rem; }


.nav-container .add-post{
	color: #fff;
	padding: 20px;
	border: 1px solid red;
}

.nav-container .add-post button { font-size: 20px; }

.input-field{
        font-size: 15px;
        background: rgba(255, 255, 255, 0.2);
        /* background: white; */
        color: fff;
        height: 50px;
        width: 100%;
        padding: 0 10px 0 45px;
        border: none;
        border-radius: 30px;
        outline: none;
        transition: .2s ease;
		margin-top: 30px;
		margin-bottom: 40px;
}

.btn-create {
	color: #fff;
	margin-top: 30px;
	background: blue;
	padding: 10px;
	border: none;
	border-radius: 30px;
	width: 100%;
	height: 50px;
}

.card-body-btns{
	padding: 20px;
	display: flex;
	justify-content: space-between;
}

.card .card-body-btns .btn {
	border-radius: 5px;
	border: 1px double rgba(255, 255, 255, 0.2);
	background: rgba(255, 255, 255, 0.05);
	color: #fff;
	padding: 10px 30px;
}

.card .card-body-btns .btn:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.card{
	border-color: rgba(0, 0, 0, 0.8);
	width: 100%;
}

main .lead-post{
	margin-top: 10px;
	width: 100%;
	border: 1px solid red;
}

.lead-post{
	display: flex;
	justify-content: center;
}