@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
* {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        background: black;
        font-family: 'Nunito', sans-serif;
        color: white;
}

body {
        background-color: black;
        width: 60%;
        margin: 0 auto;
}

header {
        grid-area: header;
        position: sticky;
        /* width: 100%; */
        height: 70px;
        top: 0;
        z-index: 1;
        background-color: black;
        color: #fff;
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.8);
}

header .logo h1{
        color: white;
        font-size: 35px;
        font-weight: 800;
}

main {
        border: 1px solid rgba(0, 0, 0, 0.8);
        display: flex;
        /* height: 100vh - 130px; */
}

main .account-settings-navbar {
        margin-top: 20px;
        width: 33%;
        display: flex;
        justify-content: top;
        flex-direction: column;
        font-size: 1.4rem;
}

main .account-settings-navbar a {
        padding: 20px;
        text-decoration: none;
        color: white;
        margin-bottom: 20px;
        border: 1px solid rgba(77, 77, 77, 0.5);
        display: flex;
        align-items: center;
        gap: 1rem;
        text-decoration: none;
}

main .account-settings-navbar a:hover {
        background-color: rgba(48, 48, 48, 0.5);
        border-top: 1px solid rgba(204, 204, 204, 0.3);
        border-bottom: 1px solid rgba(204, 204, 204, 0.3);
}

main .account-settings {
        width: 67%;
        /* display: none; */
}

main .account-settings .account-settings-general {
        display: flex;
        flex-direction: column;
        padding: 30px;
        font-size: 18px;
}
main .account-settings .account-settings-player ,
main .account-settings .account-settings-password ,
main .account-settings .account-settings-scout {
        display: flex;
        flex-direction: column;
        padding: 30px;
        font-size: 18px;
        display: none;
}

main .account-settings .account-settings-general .pfp-container {
        display: flex;
        flex-direction: row;
        padding: 10px 30px 0px 30px;
        margin-bottom: 20px;
}

main .account-settings .account-settings-general .pfp-container .pfp-img{
        background-image: url('../images/soccer-stadium-full-people.jpg');
        height: 120px;
        width: 120px;
}

main .account-settings .account-settings-general .pfp-container .pfp-selector{
        border: 2px solid green;
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        align-content: center;
        margin-left: 50px;
        padding: 0 60px;
}

.account-settings-scout form input,
.account-settings-scout form select,
.account-settings-player form input,
.account-settings-player form select,
.account-settings-password form input,
.account-settings-general form input{
        padding: 10px 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        /* background: darkgray; */
}

.account-settings-general form label{
        margin-bottom: 10px;
        margin-bottom: 20px;
}

.account-settings form label,
.account-settings form input {
        margin-bottom: 10px;
        width: 100%;
}

.form-buttons{
        display: flex;
        justify-content: flex-end;
        padding: 20px 10px;
}

.account-settings form input[type="submit"],
.account-settings form input[type="reset"] {
        width: 120px;
        padding: 10px 0px;
        background: blue;
        border-radius: 10px;
        margin-left: 10px;
}

.account-settings-general .pfp-label{
        margin-bottom: 10px;
        width: 100%;
}
.account-settings-general .pfp-input {
        border: 1px solid white;
        width: 100%;
}

.btn-container {
        display: flex;
        justify-content: flex-end;
        padding: 20px 10px;
}

.btn-container button {
        width: 150px;
        padding: 10px 0px;
        background: blue;
        border-radius: 10px;
        margin-left: 10px;
}

.account-settings-navbar a.active {
        background-color: rgba(48, 48, 48, 0.5);
        border: 1px solid white;
}
